name: Java CI

on: [push, pull_request]

jobs:
    build:

        runs-on: ubuntu-latest

        strategy:
            matrix:
                env:
                    # see https://www.jetbrains.com/idea/download/previous.html
                    # and https://www.jetbrains.com/intellij-repository/snapshots/
                    - IDEA_VERSION: IU-2022.2
                      KOTLIN_VERSION: 1.6.21
                    #- IDEA_VERSION: IU-2023.1
                    #  KOTLIN_VERSION: 1.8.0
                    - IDEA_VERSION: IU-2023.3.3
                      KOTLIN_VERSION: 1.9.10
                    - IDEA_VERSION: IU-LATEST-EAP-SNAPSHOT
                      KOTLIN_VERSION: 2.1.0

        steps:
            - uses: actions/checkout@v4
            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: 17
                  distribution: temurin

            - name: Build with Gradle
              run: ./gradlew build -PideaVersion=${IDEA_VERSION} -PkotlinVersion=${KOTLIN_VERSION}
              env: ${{ matrix.env }}

            - name: Prepare distribution
              run: cd build/distributions && unzip -d tmp pebble-intellij-next-SNAPSHOT.zip

            - name: Archive distribution artifact
              uses: actions/upload-artifact@v4
              with:
                name: "pebble-intellij-development"
                path: build/distributions/tmp
              if: matrix.env.IDEA_VERSION == 'IU-2022.2'
